<!doctype html>
<html>
  <head>
    <title>{{ .Name }} :: Roll20 API Script</title>
  </head>
  <body>
    <h1>{{ .Name }}</h1>
    <small>Version {{ .Version }}</small>
    <h2>By {{ .Authors }}</h2>

    <p>
      {{ .Description }}
    </p>
  </body>
</html>
