{
  "extends": "airbnb/base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "rules": {
    "max-len": ["error", 120, 2],
    "no-param-reassign": ["error", {"props":false}],
    "prefer-rest-params": 0,
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
    "no-use-before-define": ["error", { "functions": false, "classes": false }]

  }
}
